.header{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

    &-item{
        display: flex;
        justify-content: space-between;
        align-items: center;   
    }

    &-tel{
        letter-spacing: 0.075rem;
        &:hover{
            color: #d26a22;
        }
    }

    &-cart{
        position: relative;
        width: 4.5rem;
        height: 4.5rem;
        margin-left: 80px;
    }
    
    &-cart_btn{
        width: 4.0rem;
        height: 4.0rem;
        background-color: #d26a22;
        border: none;
        border-radius: 100%;
        background-image: url(../../../img/sprites/shoppingcart.png);
        background-size: 50% 50%;
        background-position: 15px  14px;
        background-repeat: no-repeat;
    }
    
    &-cart_cnt{
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 0.59rem;
        color: whitesmoke;
    }
}

.logo{
    display: block;
    background-repeat: no-repeat;
    background-image: url(../../../img/favicon/logo.svg); 
    width: 120px;
    height: 32px;
    margin-right: 120px;
}

.nav{
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    &-item{
        margin-right: 48px;
    }
    &-link{
        text-decoration: none;
        color: #27300f;
        transition: 0.3s ease;
        &:hover{
            color: #d26a22;
        }
    }
}


