<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Organic</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="../img/favicon/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="styles/main.css">
        
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    </head>
    <body>
        <section class="section-main">
            @@include("../blocks/modules/header/header.html")
            <div class="wrapper">
                <div class="main">
                    <div class="main-text">
                        <h1 class="title">Здоровая еда - <br><span class="span">это просто</span>!</h1>
                        <div class="ml">
                            <p class="main-text-description">Сеть магазинов полезных продуктов питания, производство которых основано на&nbsp;принципах и&nbsp;стандартах органического чистых продуктов</p>
                            <a class="main-btn" href="">Перейти в каталог</a>
                        </div>
                    </div>
                    <div class="main-visual">
                        <div class="main-visual-image">
                            <img class ="main-visual-image-img" src="../img/source/image-main.png" alt="main">
                        </div>
                        <button class="main-visual-01 main-visual-btn">
                            Авокадо
                            <span class="main-visual-span">134 руб</span>
                        </button>
                        <button class="main-visual-02 main-visual-btn">
                            Картофель
                            <span class="main-visual-span">169 руб</span>
                        </button>
                        <button class="main-visual-03 main-visual-btn">
                            Томаты
                            <span class="main-visual-span">235 руб</span>
                        </button>
                    </div>
                </div>
            </div>
            <img class="section-main-image section-main-tomato" src="../img/source/imagetomato.png" alt="tomato">
            <img class="section-main-image section-main-pepper" src="../img/source/imagepepper.png" alt="pepper">
            <img class="section-main-image section-main-avacado" src="../img/source/imageavocado.png" alt="avocado">
            <img class="section-main-image section-main-cucumber" src="../img/source/imagecucumber.png" alt="cucumber">
            <img class="section-main-image section-main-beans" src="../img/source/beans.png" alt="tomato">
        </section>

        <section class="section-stock">
            <div class="wrapper">
                <h2 class="title">Что мы <br><span class="span">предлагаем</span></h2>
                <p class="section-stock-text">Органика - это целостная система производство по-настоящему чистой, натуральной и полезной продукции</p>
                <div class="slider">               
                    <div class="slider-child">
                        <div class="slider-item slider-milk">
                            <div class="slider-text">
                                <h3 class="slider-test-title">Молочные продукты</h3>
                                <p class="slider-text-description">В наши дни появилась мода на здоровое питание, поэтому на рынке питания разработали органическое молоко. органическое молоко является продуктом органического живодноводствв</p>
                                <a href="#" class="slider-text-link">Подробнее</a>
                            </div>
                        </div>
                    </div>
    
                    <div class="slider-child">
                        <div class="slider-item slider-bakalei">
                            <div class="slider-text">
                                <h3 class="slider-test-title">Бакалея</h3>
                                <p class="slider-text-description">В наши дни появилась мода на здоровое питание, поэтому на рынке питания разработали органическое молоко. органическое молоко является продуктом органического живодноводствв</p>
                                <a href="#" class="slider-text-link">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="slider-child">
                        <div class="slider-item slider-meat">
                            <div class="slider-text">
                                <h3 class="slider-test-title">Мясо, птицы</h3>
                                <p class="slider-text-description">В наши дни появилась мода на здоровое питание, поэтому на рынке питания разработали органическое молоко. органическое молоко является продуктом органического живодноводствв</p>
                                <a href="#" class="slider-text-link">Подробнее</a>
                            </div>
                        </div>
                    </div> 
                    
                    <div class="slider-child">
                        <div class="slider-item slider-milk">
                            <div class="slider-text">
                                <h3 class="slider-test-title">Молочные продукты</h3>
                                <p class="slider-text-description">В наши дни появилась мода на здоровое питание, поэтому на рынке питания разработали органическое молоко. органическое молоко является продуктом органического живодноводствв</p>
                                <a href="#" class="slider-text-link">Подробнее</a>
                            </div>
                        </div>
                    </div>
    
                    <div class="slider-child">
                        <div class="slider-item slider-bakalei">
                            <div class="slider-text">
                                <h3 class="slider-test-title">Бакалея</h3>
                                <p class="slider-text-description">В наши дни появилась мода на здоровое питание, поэтому на рынке питания разработали органическое молоко. органическое молоко является продуктом органического живодноводствв</p>
                                <a href="#" class="slider-text-link">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="slider-child">
                        <div class="slider-item slider-meat">
                            <div class="slider-text">
                                <h3 class="slider-test-title">Мясо, птицы</h3>
                                <p class="slider-text-description">В наши дни появилась мода на здоровое питание, поэтому на рынке питания разработали органическое молоко. органическое молоко является продуктом органического живодноводствв</p>
                                <a href="#" class="slider-text-link">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-advantage">
            <div class="wrapper">
                <h2 class="title">В чем наша <br><span class="span">уникальность</span></h2>
            </div>
            <div class="box-advantage">
                <div class="box-advantage-item">
                    <div class="ml">
                        <p class="box-advantage-text">Мы полностью контролируем весь цикл производства - от поля до 
                            прилавка за счет собственной серьеозной материальной и научной базы. 
                            Наш подзод направлен на высокие технологии и достижения научного прогрессса.
                        </p>
                    </div>
                </div>
                <div class="box-advantage-item">
                    <ul class="box-adventage-list">
                        <li class="box-adventage-list-item box-adventage-list-health"><span class="box-adventage-list-item-span box-adventage-list-health-span"></span>Здоровье</li>
                        <li class="box-adventage-list-item box-adventage-list-traditions"><span class="box-adventage-list-item-span box-adventage-list-traditions-span"></span>Традиции</li>
                        <li class="box-adventage-list-item box-adventage-list-taste"><span class="box-adventage-list-item-span box-adventage-list-taste-span"></span>Вкус</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="section-production">
            <div class="wrapper">
                <h2 class="title">Наши <span class="span">новинки</span></h2>
                <p class="section-production-text">Будь в тренде с современым миром, и будь здоров вместе с нами</p>
                <div class="slider-production">               
                    <div class="slider-child">
                        <div class="catalog-slider-item">
                            <div class="slider-thumb">
                                <img src="../img/source/milk.png" alt="milk" class="slider-thumb-image">
                            </div>
                            <div class="slider-info">
                                <h3 class="slder-info-title">Молоко топленое</h3>
                                <p class="slider-info-description">Молоко Healthy food топленое мдж 4% 500гр</p>
                                <p class="slider-info-price">159 руб/шт</p>
                                <div class="slider-footer">
                                    <div class="slider-count">
                                        <span class="slider-count-minus"></span>
                                        <input type="text" class="slider-count-number" value="1">
                                        <span class="slider-count-plus"></span>
                                    </div>
                                    <button class="main-btn slider-footer-btn">в корзину</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slider-production-child">
                        <div class="slider-child">
                            <div class="catalog-slider-item">
                                <div class="slider-thumb">
                                    <img src="../img/source/egg.png" alt="milk" class="slider-thumb-image">
                                </div>
                                <div class="slider-info">
                                    <h3 class="slder-info-title">Молоко топленое</h3>
                                    <p class="slider-info-description">Молоко Healthy food топленое мдж 4% 500гр</p>
                                    <p class="slider-info-price">159 руб/шт</p>
                                    <div class="slider-footer">
                                        <div class="slider-count">
                                            <span class="slider-count-minus"></span>
                                            <input type="text" class="slider-count-number" value="1">
                                            <span class="slider-count-plus"></span>
                                        </div>
                                        <button class="main-btn slider-footer-btn">в корзину</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slider-production-child">
                        <div class="slider-child">
                            <div class="catalog-slider-item">
                                <div class="slider-thumb">
                                    <img src="../img/source/chicken_.png" alt="milk" class="slider-thumb-image">
                                </div>
                                <div class="slider-info">
                                    <h3 class="slder-info-title">Молоко топленое</h3>
                                    <p class="slider-info-description">Молоко Healthy food топленое мдж 4% 500гр</p>
                                    <p class="slider-info-price">159 руб/шт</p>
                                    <div class="slider-footer">
                                        <div class="slider-count">
                                            <span class="slider-count-minus"></span>
                                            <input type="text" class="slider-count-number" value="1">
                                            <span class="slider-count-plus"></span>
                                        </div>
                                        <button class="main-btn slider-footer-btn">в корзину</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>      
                </div>
            </div>
        </section>

        <section class="section-catalog">
            <div class="wrapper">
                <h2 class="title">Каталог</h2>
                <p class="section-catalog-text">Будь в тренде с современым миром, и будь здоров вместе с нами</p>
                <ul class="tab">
                    <li class="tab-item"><a href="" class="tab-link">Молочные продукты</a></li>
                    <li class="tab-item"><a href="" class="tab-link">Бакалея</a></li>
                    <li class="tab-item"><a href="" class="tab-link">Мясо, птица</a></li>
                    <li class="tab-item"><a href="" class="tab-link">Детям</a></li>
                    <li class="tab-item"><a href="" class="tab-link">Овощи фрукты</a></li>
                </ul>

                <div class="catalog">
                    <div class="catalog">
                        <div class="catalog-slider">
                            <div class="catalog-child">
                                <div class="catalog-item">
                                    <div class="catalog-thumb">
                                        <img src="../img/source/milk.png" alt="milk" class="catalog-thumb-image">
                                    </div>
                                    <div class="catalog-info">
                                        <h3 class="catalog-info-title">Молоко топленое</h3>
                                        <p class="catalog-info-description">Молоко Healthy food топленое мдж 4% 500гр</p>
                                        <p class="catalog-info-price">159 руб/шт</p>
                                        <div class="catalog-footer">
                                            <div class="catalog-count">
                                                <span class="catalog-count-minus"></span>
                                                <input type="text" class="catalog-count-number" value="1">
                                                <span class="catalog-count-plus"></span>
                                            </div>
                                            <button class="main-btn catalog-footer-btn">в корзину</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <main></main>
        @@include("../blocks/modules/footer/footer.html")
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script>
            $('.slider').slick({
                    dots: false,
                    infinite: true,
                    arrows: true,
                    speed: 300,
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    responsive: [
                        {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2,
                        }
                    },
                        {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        </script>
        <script src="js/vendor.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>