<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Organic</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="../img/favicon/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        <section class="section-main">
            @@include("../blocks/modules/header/header.html")
            <div class="wrapper">
                <div class="main">
                    <div class="main-text">
                        <h1 class="title">Здоровая еда - <br><span class="span">это просто</span>!</h1>
                        <div class="ml">
                            <p class="main-text-description">Сеть магазинов полезных продуктов питания, производство которых основано на&nbsp;принципах и&nbsp;стандартах органического чистых продуктов</p>
                            <a class="main-btn" href="">Перейти в каталог</a>
                        </div>
                    </div>
                    <div class="main-visual">
                        <div class="main-visual-image">
                            <img class ="main-visual-image-img" src="../img/source/image-main.png" alt="main">
                        </div>
                        <button class="main-visual-01 main-visual-btn">
                            Авокадо
                            <span class="main-visual-span">134 руб</span>
                        </button>
                        <button class="main-visual-02 main-visual-btn">
                            Картофель
                            <span class="main-visual-span">169 руб</span>
                        </button>
                        <button class="main-visual-03 main-visual-btn">
                            Томаты
                            <span class="main-visual-span">235 руб</span>
                        </button>
                    </div>
                </div>
            </div>
            <img class="section-main-image section-main-tomato" src="../img/source/imagetomato.png" alt="toqwmato">
            <img class="section-main-image section-main-pepper" src="../img/source/imagepepper.png" alt="pepper">
            <img class="section-main-image section-main-avacado"  src="../img/source/imageavocado.png" alt="avocado">
            <img class="section-main-image section-main-cucumber" src="../img/source/imagecucumber.png" alt="cucumber">
            <img class="section-main-image section-main-beans" src="../img/source/beans.png" alt="tomato">

            
        </section>

        <main></main>
        @@include("../blocks/modules/footer/footer.html")

        <script src="js/vendor.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>